.appBar {
  background-color: $color-primary;
  color: $color-white;

  a {
    > span {
      vertical-align: text-bottom;
      &:hover {
        text-decoration: none;
      }
    }
    &:hover {
      text-decoration: underline;
    }
    &:not(:last-child) {
      margin-right: 2.5rem;
    }
  }
}
