{
  "presets": [
    "react",
    "es2015",
    "stage-0"
  ],
  "plugins": [
    "transform-runtime",
    "add-module-exports",
    "transform-decorators-legacy",
    "transform-react-display-name",
    "transform-class-properties",
    "transform-react-jsx-source"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel",
        "typecheck",
        [
          "react-transform", {
            "transforms": [
              {
                "transform": "react-transform-catch-errors",
                "imports": [
                  "react",
                  "redbox-react"
                ]
              }
            ]
          }
        ]
      ]
    }
  }
}
