.mdl {
  &-grid {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto 0 auto;
    align-items: stretch;

    &.mdl-grid--no-spacing {
      padding: 0;

      > .mdl-cell {
        margin: 0;
      }
    }
  }
  &-cell {
    box-sizing: border-box;

    &--top {
      align-self: flex-start;
    }

    &--middle {
      align-self: center;
    }

    &--bottom {
      align-self: flex-end;
    }

    &--stretch {
      align-self: stretch;
    }
  }
}

@import "./grid-order";
@import "./grid-phone";
@import "./grid-tablet";
@import "./grid-desktop";
